.insta-post{
    margin-bottom: 15px;
}

.post-meta {
    background: #fff;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ddd;

    img{
        margin-right: 10px;
    }
}

.post-details{
    background: #fff;
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0;
}

.post_actions{
    margin-bottom: 20px;
    i {
        margin-right: 10px;
        color: #ddd;
        cursor: pointer;
    }

    i:hover{
        color: #000;
    }
    
    i.active{
        color: #555;
    }
}